@tailwind base;
@tailwind components;
@tailwind utilities;





body{
    background-image: url('../assets/img/bg.jpg');
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
}


.bg-parl{
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm373batch15-bg-11.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f8e17abb22adb3b3261d9076259e3e0e');

}